

.top{
  position:fixed;
  width:100%;
  z-index:10000;

}


.logo img{
  height:80px;
}

.top-menu {
  list-style:none;
  display: none;
  background-color: #fff;
}

.fa-bars:hover{
  cursor:pointer;
}

.btn:focus {
	outline:0;

}

.title{
  padding-top:70px;
  background-size: auto;
}

.title h3{
  letter-spacing: 2px;
  font-weight:bold;
  padding-top:40px;
}
.paspol{
  display: inline-block;

}

.more{
 float:right;
}


.foot-menu{
  margin-bottom: 1px;
}



.product img{
  width:250px;

}

.wrap{
  width:100%;
  overflow:hidden;
}
