/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.contents{
  text-align: center;

}

.header{
  margin-top:0;
  height:300px;
  background-image: url(https://lh4.googleusercontent.com/VSV2pOPCuCrKmZBdEB1PHJu0Qik9c6dp1X_xuy77rkOMOUxssYqrZJk0xqkPTraX3mndL1c=w572);
  background-size:auto;
}


.header-title h1{
  padding-top: 20px;
  font-size:70px;
  color:white;
  opacity:0.7;
  padding-bottom:15px;
}

.header-title h2 {
  color:white;
  opacity:0.7;
	font-size: 20px;
	letter-spacing: 10px;
}

.main{

  background-color: rgba(245, 250, 147, 0.1);
}

.main-title h1{
  font-size:20px;
  padding-top:15px;
  padding-bottom:15px;
}

.main-contents{
  padding-top: 10px;
  display:inline-block;
  margin-right:auto;
  margin-left:auto;
  width:33%;
  float:left
}

.main-contents:hover{
  cursor:pointer;
  background-color: rgba(38, 12, 12, 0.05);
}

.main-contents img{
  height:120px;
}

.contents-title{
  padding:5px 0;
}

.contents-description{
  width:80%;
  padding-left:20px;
}

.clear{
  clear:both;
}


.introduction{
  margin-top:20px;
  background-color:rgb(245, 250, 147);
  height:200px;
  width:auto;

}

.introduction-title{
  text-align:center;
  padding-top:20px;
  font-size:20px;
  margin-bottom:15px;

}

.tsubasa img{
  height:100px;
  margin-left:30px;
  margin-right: 10px;

}

.tsubasa p {
  display:inline-block;
  vertical-align:top;
}

.tsubasa-pro{
  margin-top:10px;
}
